/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  height: 100%;
  background: linear-gradient(to bottom right, #4f47c0, #000);
  color: white;
}

.home {
  height: 100%;
  background: linear-gradient(to bottom right, #4f47c0, #000);
  color: white;
}

.ServicePages {
  height: 100%;
  background: linear-gradient(to bottom right, #4f47c0, #000);
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.logo-container {
  text-align: center;
}

.logo-icon {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  color: #1de5d1;
}

.logo-text {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  margin-top: 10px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.service-cards-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}

.service-card:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.service-card-icon {
  font-size: 30px;
  margin-right: 15px;
  color: #1de5d1;
}

.service-card-title {
  font-size: 18px;
  font-weight: bolder;
  flex-grow: 1;
}

.service-card-chevron {
  font-size: 18px;
  color: gray;
}

.service-card:hover .service-card-chevron {
  color: white;
}

.nav-link {
  position: relative;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #90caf9;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #90caf9;
}

.nav-link:hover::after {
  width: 100%;
}

/* Add these styles to your App.css */
.service-item:hover {
  transform: scale(1.05); /* Subtle hover effect */
}

html {
  scroll-behavior: smooth;
}
